.header-root {
    display: flex;
    padding: 40px ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    z-index: 5;
}
.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header-text {
    font-size: 24px;
    font-weight: 500;
    color: aliceblue;
}
.header-login {
    font-size: 24px;
    font-weight: 500;
    color: aliceblue;
}